spring:
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
  sql:
    init:
      mode: always
      schema-locations: classpath:db/schema.sql
      data-locations: classpath:db/data.sql
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: none